<!DOCTYPE html>
<html>

    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/Images/lit.jpg">
        <link rel="stylesheet" href="/CSS/style.css">

    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>The landing page for the About Page</p>
            <img class="user" src="/Images/me.jpg">
        </div>
        {{>footer}}
    </body>


</html>