<!DOCTYPE html>
<html>

    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/Images/lit.jpg">
        <link rel="stylesheet" href="/CSS/style.css">

    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>The landing page for the Help Page</p>
        </div>
        {{>footer}}
    </body>


</html>